.icon { display: inline-block; vertical-align: middle; background-image: url(@/assets/images/sprite.png);background-size:232px 208px }
.icon-ad { width: 80px; height:80px; background-position: 0px 0px;}
.icon-close { width: 80px; height:80px; background-position: -80px 0px;}
.icon-icon_close { width: 48px; height:48px; background-position: 0px -160px;}
.icon-music { width: 72px; height:72px; background-position: -80px -80px;}
.icon-play { width: 20px; height:21px; background-position: -48px -160px;}
.icon-sound { width: 72px; height:72px; background-position: -160px 0px;}
.icon-st { width: 80px; height:80px; background-position: 0px -80px;}
.icon-vibrate { width: 72px; height:72px; background-position: -160px -72px;}